{{ if isset $.Site.Params "favicon"}}
<link rel="icon" href="{{ $.Site.Params.favicon | absURL }}">
{{ else }}
<link rel="icon" href="icons/favicon.ico">
{{ end }}
{{ if isset $.Site.Params "site_theme"}}
<link href="{{ printf "/css/%s.css" $.Site.Params.site_theme | absURL}}" rel="stylesheet">
{{ else }}
<link href={{"/css/orange.css" | absURL }} rel="stylesheet">
{{ end }}
<link rel="stylesheet" type="text/css" href="https://api.azadqalam.ir/fonts?font=Sahel" />
<link rel="stylesheet" type="text/css" href="https://api.azadqalam.ir/fonts?font=Vazir" />
<link rel="stylesheet" type="text/css" href="https://api.azadqalam.ir/fonts?font=Estedad" />

<!--<link href={{"css/custom.css" | absURL }} rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">

<style>
 
</style>
{{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}
