body { direction:rtl;}
p.text-center.text-capitalize{
    padding-top: 3%;
    font-family: Sahel !important;
    font-weight: 700;
}
a.navbar-brand {
    font-family: Sahel;
    font-weight: 800;
}
h1,h2, h3,h4,h5,h6 {

    font-family: Sahel !important;
    font-weight: 800;
}
.hero_container {
    padding-right: 20px;
    padding-left: 20px;
}
a.btn.btn-default {
    font-family: Sahel;
    font-weight: 500;
}
a.nav-link, a.dropdown-item{
    font-family: Sahel !important;
    font-weight: 600;

}

small {
    text-decoration: underline;
    font-family: Sahel;
    font-weight: 400;
}

.audiojs .play{

    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);

}
.col p , .col, p, .col-md-6, a.page-link, .pageitm{
    text-align: justify;
    line-height: 2em;
    font-family: Estedad;
    font-weight: 400;
}
audio {
    width: 100%;
}